.table th, .table td {
    text-align: center;
}

.nav-tabs > li:nth-child(n+6){
    float: right;
}

.nav-tabs > li:nth-child(n+6) > a{
    color: #808080;
}

#submitStu{
    margin-top: 20px;
}

#resetStu{
    margin-top: 20px;
}

#top_box {
    width: 320px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#reportCard{
    margin-left: 10px;
}
