.modal-title{
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#enteringExcelForm{
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}