h1 {
    margin-bottom: 30px;
}
#page {
    position: relative;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#linkToModify {
    margin-left: 50px;
}

#nav {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}