h3 {
    width: 148px;
    margin-left: auto;
    margin-right: auto;
}
#selectStudentNumber{
    width: 380px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#reportCard{
    margin-left: 10px;
}
#top_box {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#studentNumber {
    width: 250px;
}

#submitStu,#enteringExcel,#resetStu{
    margin-top: 20px;
}