#selectName{
    width: 354px;
    margin: 30px auto 20px auto;
}

h3 {
    width: 147px;
    margin-left: auto;
    margin-right: auto;
}

#courseNumber {
    width: 200px;
}

.nav-tabs > li:nth-child(n+3){
    float: right;
}