#selectName{
    width: 307px;
    margin: 30px auto 20px auto;
}

h3 {
    width: 144px;
    margin-left: auto;
    margin-right: auto;
}

#selectCourse {
    width: 200px;
}

.nav-tabs > li:nth-child(n+3){
    float: right;
}

.nav-tabs > li:nth-child(n+3) a{
    color: #808080;
}